
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);

/*
 **** MAIN STYLES ****
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin-top: 2px;
    margin-left: 10px;
}

#title_icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 80px;
    height: 80px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#title_icon:hover {
    cursor: pointer;
}

#time {
    font-family: 'Carrois Gothic SC';
    font-size: xx-large !important;
    position: absolute;
    right: 9px;
    top: 90px;
}

body {
    background: #CCC;
    color: white;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#ict_header {
    background: #AAA;
    position: absolute;
    right: 0;
    top:0;
    width: 10%;
    height: 100%;
}

.footer {
    background: #AAA;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 10px;
}



/*
 **** BUTTONS ****
 */
.button {
	text-align: center;
	background: #999;
	color: #EEE;
	border: none;
	border-radius: 3px;
	padding: 4px;
	text-shadow: 1px 1px #AAA;
}
.button:hover {
	background-color: #FFF;
	cursor: pointer;
}
.button:active {
	background-color: #BBB !important;
	cursor: pointer;
}


/*
 **** HEADER ITEMS ****
 */
#safety_btn_label {
	position: absolute;
	color: #FFF;
	top: 135px;
	left: 20px;
	width: 60px;
	border-top: 1px solid #888;
}

#safety_btn {
	position: absolute;
	top: 160px;
	left: 10px;
	width: 60px;
}

#mode_btn {
	position: absolute;
	top: 200px;
	left: 10px;
	width: 60px;
}
