/*
 **** T-BAR BOXES ****
 */
#tbar_container {
    display: flex;
    flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 10px 0 0 5px;
}

.tbar {
	border:1px solid #999;
	min-width: 270px;
	height: 275px;
	margin: 5px 0 5px 10px;
	padding: 0;
	border-radius: 3px;
    display: flex;
    flex-flow: column;
}


.tbar_title_container {
	/*background: #DDD;*/
	background: #999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	padding: 4px;
	height: 25px;
}
.titleBtn {
    font-weight: 500;
	width:  120px;
	margin: 0 4px 0 4px;
}
.sector_par_btn {
	width:15px;
	border-radius: 50px;
	color: #666;
	font-weight: normal;
	text-shadow: none;
}
.sector_status_blank_btn {
	width:20px;
	background: #BBB;
	border-bottom: 2px dotted #888 !important;
	border-radius: 10px;
}
.psi_red {
	background: red;
	color: #FFF !important;
}
.psi_yellow {background: yellow;}
.psi_green {background: #3dff00;}
.psi_btn {
	width:  34px;
	color: #666;
	font-weight: normal;
	font-size: 90%;
	text-shadow: none;
}
.benchmark_dots_container {
	width:30px;
	display: flex;
	flex-flow: row wrap;
	margin-right: 4px;
	background: none;
	padding: 0;
}
.benchmark_dot_btn {
	background: #666;
	border: 1px solid #333;
	width:10px;
	height: 10px;
	border-radius: 10px;
	font-size: 50%;
	margin: 0 1px 1px 1px;
	text-align: center;
	text-shadow: none;
	padding: 0;
	color: #AAA;
	flex-shrink: 0;
	flex-grow: 0;
}
.benchmark_dot_btn_isset {
	background: #0F0 !important;
	color: #666;
}
.horiz_chkbox {
    display: flex;
    flex-flow: row;
}
.benchmark_chk_label_btn {
	background: none;
	padding: 4px 4px 4px 4px;
	color: #666;
}

.tbar_body_container {
    display: flex;
    flex-flow: row;
	height: 250px;
	padding: 0px;
}
.blank_btn {
	background: #AAC7D1;
	border-bottom: 2px dotted #888 !important;
	border-radius: 10px;
}
.units {
	background: #FFF;
	width: 75px;
	padding: 4px;
    display: flex;
    flex-flow: column;
}
.unit_btn  {
	width: 65px;
	margin: 1px 0 1px 0;
}

.tbar_body_rightcol {
	width: 60%;
	display: flex;
    flex-flow: column;
}
.acct_unit_btn {
	background: #AAC7D1;
	border: 2px solid #FFFF10 !important;
	border-radius: 10px;
}

.actions {
	background: #FFF;
	border-left: 1px solid #888;
	padding: 4px;
    display: flex;
    flex-flow: column;
}
.action_btn {
	width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 1px 0 1px 0;
}

