
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);

/*
 **** MAIN STYLES ****
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin-top: 2px;
    margin-left: 10px;
}

#title_icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 80px;
    height: 80px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#title_icon:hover {
    cursor: pointer;
}

#time {
    font-family: 'Carrois Gothic SC';
    font-size: xx-large !important;
    position: absolute;
    right: 9px;
    top: 90px;
}

body {
    background: #CCC;
    color: white;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.header {
    width: 90px;
}
#ict_header {
    background: #AAA;
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
}
.header_spacer {
    flex-basis: 90px;
    flex-shrink: 0;
}
.footer {
    background: #AAA;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 10px;
}


/*
 **** BUTTONS ****
 */
.button {
	text-align: center;
	background: #DDD;
	color: #666;
	border: none;
	border-radius: 3px;
	padding: 1px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer;
}
.button:hover {
	background-color: #EEE;
    color: #999;
}
.button:active {
	background-color: #BBB;
}


/*
 **** HEADER ITEMS ****
 */
#safety_btn_label {
	position: absolute;
	color: #FFF;
	top: 135px;
	left: 20px;
	width: 60px;
	border-top: 1px solid #888;
}

#safety_btn {
	position: absolute;
	top: 160px;
	left: 10px;
	width: 60px;
}

#mode_btn {
	position: absolute;
	top: 200px;
	left: 10px;
	width: 60px;
}


/*
 **** Dialogs ****
 */
#dialogContainer {
    background: rgba(255,255,255,0.4);
    position:fixed;
    z-index: 200;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.dialog {
    z-index: 999;
    background: #EEE;
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    border: 1px solid #888;
    box-shadow: 0px 0px 15px #555;
}
.dialog_title {
    background: #AAA;
    flex-shrink: 0;
    height: 1.5rem;
    text-align: center;
    font-size: 110%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.dialog_title_text_container {
    flex-grow: 1;
}
.dialog_close_btn {
    background: #F67574;
    height: 1.0rem;
    flex-basis: 1.0rem;
    flex-shrink: 0;
    padding: 2px 1px 1px 1px;
    line-height: 1.0em;
    margin: 2px;
    font-size:80%;
    color: white;
    border-radius: 15px;
    border: 1px solid #CCC;
    text-shadow: none;
}
.dialog_body {
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    border-radius: 3px;
    justify-content: flex-start;
    align-content: space-around;
}
.dialog_btn {
    background: #CCC;
    margin: 5px;
    box-shadow: 1px 1px 1px #888;
}

#sector_dialog {
    width: 760px;
    height: 360px;
}
#psi_dialog {
    width: 425px;
    height: 235px;
}
#actions_dialog {
    width: 600px;
    height: 255px;
}

