/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
*/

/*
 **** MAIN STYLES ****
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

body.splashpage {
    background: #9ad1ff;
    color: black;
    text-align: center;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

:focus {
    /*Get rid of annoying blue outline when you click on anything*/
    outline: none !important;
}

td {
    vertical-align: middle;
}

#splash_outer_outer_div {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
	display: table;
}
#splash_outer_inner_div {
	display: table-cell;
	vertical-align: middle
}
#splash_row1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#splash_row2 {
    width:410px;
    margin: 0 auto;
}
#splash_row3 {
    width:800px;
    margin: 0 auto;
}
#splash_row4 {
    width:800px;
    margin: 0 auto;
}
#splash_title_logo_img {
    float: left;
}
#splash_inc_info_container {
    padding-top: 50px;
    float: left;
}
#splash_title {
    font-family: sans-serif;
    font-size: 2.0rem;
}
.splash_start_btn {
    height: 70px;
    width: 180px;
    margin: 10px;
    font-size: 2.0rem;
    padding-top: 5px !important;
    float: left;
}
.splash_start_btn_icon {
    width: 40px;
    height: 40px;
}
.splash_start_btn_text {
    margin-left:10px;
    font-size: 1.4rem;
}

#header_spacer_td {
	width: 100px;
}
#footer_spacer_td {
    height: 20px;
}
#ict_header {
    background: #BBB;
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
    z-index: 50;
    padding: 4px;
}

#title_icon {
    width: 90px;
    height: 90px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#title_icon:hover {
    /*cursor: pointer;*/
}

.footer {
    color: white;
    background: #BBB;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 20px;
}
#inc_num {
    padding:3px;
}
#address {
    padding: 3px 10px 3px 10px;
}

/*
 **** BUTTONS ****
 */
.button {
	text-align: center;
	background: #CCC;
	color: black;
	border: none;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
}
.button:hover {
	background-color: #EEE;
    color: #999;
}
.button:active {
	background-color: #BBB;
}

.button_top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
}


.button_no_hover {
	text-align: center;
	background: #CCC;
	color: #666;
	border: none;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer !important;
    box-shadow: 1px 1px 2px #888;
}

.disabled, .disabled:hover, .disabled:active {
    background: #DDD !important;
    color: #AAA;
    cursor: default;
}

.hidden_div {
	/*
	 *Use opacity rather than show/hide
	 *so the button maintains its space
	*/
	opacity: 0.0;
}
.hidden_div:hover {
	cursor: default !important;
	opacity: 0.0;
}

.btn-ict {
	background: #DDD;
	color: #666;
	text-shadow: 1px 1px #AAA;
	box-shadow: 1px 1px 2px #888;
	height: 22px;
}

.sm_round_btn {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	padding: 0;
}

.glow_orange {
    background: #FFAD2C;
}
.glow_orange:hover {
    background: #FFAD2C;
}
.glow_blue {
    background: #2A5071;
    color: #DDD;
    box-shadow: 2px 2px 2px #172C3E;
}
.glow_blue:hover {
    background: #2A5071;
}
.glowlightyellow {
	/*background: #FFFF99;*/
	background: #FFFF88;
}
.glowlightyellow.unit_row_div {
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
/*.unit_row_div.glowlightyellow>.unit_btn{
    margin-right:2px;
}*/

.font_red {
    color: red !important;
}
.glowred {
	background: red !important;
	color: white;
}
.glowred:hover {
	background: darkred !important;
	color: white;
}
.glowred:active {
	background: #666 !important;
	color: white;
}
.glowpink {
	background: pink !important;
	color: #666;
}
.glowpink:hover {
	background: red !important;
	color: white;
}
.glowpink:hover {
	background: red !important;
	color: white;
}
.glowpink:active {
	background: #666;
	color: white;
}
.glowlightblue {
    background: DeepSkyBlue;
}
.glowlightgreen {
    background: LightGreen;
}
.glowlightgreen:hover {
    background: DarkGreen;
    color: white;
}
.glowgreen {
    background: green;
    color: white;
}
.glowgreen:hover {
    background: DarkGreen;
    color: white;
}
.glowgreen:active {
    background: #666;
    color: white;
}
.glowbabyblue {
    background: #99e5ff;
}
.glowbabyblue:hover {
    background: #77ddff;
}
.glowbabyblue:active {
    background: #66aaff;
}

.has_par {
    background: lightgreen !important;
}
.has_par:hover {
    background: green !important;
}

.has_par:active {
    background: #555 !important;
}

/*
 **** HEADER ITEMS ****
 */
.header_item {
    margin-bottom: 4px;
	height: 25px;
}
#iap_btn {
    margin-top: 10px;
}
#time {
    text-align: center;
    font-family: 'Carrois Gothic SC';
    font-size: 1.45rem;
    color: white;
}
.time_lg {
    font-size: 2.3rem !important;
	height: 43px;
}
#safety_btn_label {
	color: #FFF;
	width: 100%;
	border-top: 1px solid #888;
}
.safety_btn {
	width: 90px;
	height: 25px;
    z-index: 100;
}
.side_dialog_table tr {
	vertical-align: top;
}
.side_dialog {
    background: #666 ;
    z-index: 50;
	padding: 4px;
}
.side_dialog > div {
    margin:0 0 4px 0;
}
.side_dialog_arm {
    background: #666;
    height: 2rem;
    width: 100px;
    z-index: 45;
}
#safety_side_dialog {
    top: 157px;
}
#safety_side_dialog_arm {
    top: 157px;
}
#mode_btn {
    z-index: 100;
    float:right;
    margin-right: 10px;
    font-size:1.2rem;
    padding: 0 20px;
}
#mode_side_dialog {
    top: 197px;
}
#mode_side_dialog_arm {
    top: 197px;
}
.offensive_btn {
    background: green !important;
    color: white;
}
.defensive_btn {
    background: #FF2B21 !important;
    color: white;
}
#report_btn {
    z-index: 100;
	height: 45px;
}
.report_icon {
    width: 20px;
    height: 20px;
}
#dispatched_units_btn {
    z-index: 100;
    height: 46px;
    margin-top: 10px;
}
#cmd_term_btn {
    z-index: 100;
    font-size: 0.75rem;
	height: 53px;
}
#cmd_term_btn > div {
	height:12px;
}
.terminate_icon {
    width: 20px;
    height: 20px;
}

#header_row2 {
	display: table;
	height: -moz-calc(100% - 350px);
	height: -webkit-calc(100% - 350px);
	height: calc(100% - 350px);
	width: 92px;
}
#header_row3 {
	position: absolute;
	bottom: 10px;
	right: 2px;
	width: 94px;
	padding: 2px;
}


/*
 **** DIALOG ITEMS ****
 */
#dialogContainer {
    background: rgba(0,0,0,0.4);
    position:fixed;
    z-index: 200;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
	display: table;
}
.dialog_vertical_align_cell {
	display: table-cell;
	vertical-align: middle
}
.dialog_window {
    z-index: 999;
    background: #EEE;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #555;
}
.dialog_title {
    background: #AAA;
	padding: 2px 0;
	border: 1px solid #666;
}
.dialog_title_text {
	text-align: center;
	font-size: 1.1rem;
    color: white;
    float: left;
    width:100%
}
.dialog_close_btn {
    background: #F67574;
    height: 20px;
    padding: 3px 2px;
    line-height: 1.0em;
    margin: 2px;
    color: white;
    border-radius: 15px;
    border: 1px solid #CCC;
    text-shadow: none;
	width: 40px;
	float: right;
    font-size: 0.8rem;
}
.dialog_body {
	padding: 4px 0;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
}

#sector_dialog {
    width: 885px;
}
#dir_btns_container {
	padding: 4px 0;
	border-top: 1px solid #DDD;
}
#dir_btns_container > .button {
	margin: 0 4px;
}
#title_btns_container {
	padding: 4px 0;
}
#title_btns_container > .button {
	margin: 4px;
}

.clear_float {
	clear: both;
        width:0px;
}

#units_dialog {
    width: 855px;
}
#dispatched_units_div {
    width: 846px;
    min-height: 60px;
    margin: 2px;
    border: 3px double #666;
}
#title_dispatched_units_div {
    color: #999;
    margin: 1px;
}
.dispatched_unit_btn {
    margin: 4px 4px 6px 4px;
    float: left;
}
#units_dialog_cities_div {
	display:block;
	padding-left:80px;
	border-bottom:1px solid #999;
}
#units_dialog_types_div {
	display:block;
	float:left;
	width:80px;
	height: 450px;
	border-right:1px solid #999;
}
.units_dialog_citybtns_div {
	display:block;
	width: 755px;
	height: 450px;
	float: right;
	overflow: scroll;
}
.unitTypeColumn {
    padding-bottom: 15px;
}

.unitCity_dialog_btn {
    width:70px;
    height: 20px;
    padding: 2;
	float: left;
	margin: 5px;
}
.unit_dialog_btn {
	float: left;
	margin: 5px;
}
.btn_largetext {
    font-size:0.7rem !important;
}
.btn_medtext {
    font-size:0.8rem !important;
}
.unitType_dialog_btn {
    width:70px;
    height: 20px;
    padding: 2px;
	margin: 5px;
}

#psi_dialog {
    width: 445px;
}
.psi_dialog_btn {
    width: 40px;
    height: 30px;
    float:left;
    margin: 4px;
}

#actions_dialog {
    width: 708px;
}
.action_dialog_btn {
    margin: 5px !important;
}
.action_type_dialog_header {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    margin-top: 8px;
    border-top: 1px solid #DDD;
}

#mayday_btn_container {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 100;
    pointer-events: none;
}
#mayday_btn {
    margin-left:auto;
    margin-right:auto;
    background: red;
    color: white;
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-left-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
    border-radius: 20px;
    border-top: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    font-size: 1.25rem;
    padding: 0 20px;
    width:130px;
    text-align: center;
    pointer-events: auto;
}
#mayday_btn:hover {
    background: #FF9696;
}
#mayday_btn:active {
    background: #C20000;
}
#mayday_clear_dialog {
    width: 350px;
}
.mayday_clear_item_btn {
    margin: 5px 0 5px 10px;
    width: 325px;
}
.mayday_sector_title {
    font-size: 1.1rem;
}

#osr_dialog {
	width: 420px;
}
#objectives_dialog {
	width: 190px;
}

#iap_dialog {
    width: 600px;
}
#iap_table_main td {
    padding: 5px;
}
.iap_label_td {
    text-align: right;
}
.iap_red_label {
    font-size: 1.25rem;
    color: red;
}
.iap_blue_label {
    font-size: 1.25rem;
    color: blue;
}
.iap_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size:0.9rem;
    float: left;
}
.iap_toggle_btn {
    width: 100px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}
#iap_sprinkler_toggle_btn {
    width: 120px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}
#iap_btn_evacloc {
    width: 120px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}
#iap_evacloc_dialog {
    width: 300px;
}
#iap_evacloc_input_container {
    float: left;
}
#iap_evacloc_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size:0.9rem;
}

.chk_btn {
	float: left;
	margin: 5px !important;
}
.chk_label {
    font-size: 1.1rem;
}

#benchmarks_dialog {
    width: 515px;
}
.benchmark_col_container {
    float: left;
}
.benchmark_1st_col_container {
    border-right: 1px solid #666;
}
.benchmark_double_btn {
    margin-bottom: 10px !important;
    height: 71px;
    font-size: 1.1rem;
    padding-top:10px;
}
.benchmark_item_btn {
    width: 150px;
    margin: 0 10px;
}
.benchmark_btn_parent_div {
    padding: 5px 0 5px 0;
}

#par_dialog {
    width: 355px;
}
#par_dialog_sector_btn {
	width:168px;
	height: 24px;
    text-align: center;
    margin: 5px auto;
}
.par_person_btn  {
    width: 100px;
    margin: 5px;
    float: left;
}
.par_unit_btn {
    background: #CCC;
    margin: 5px;
    float:left;
}
.par_dialog_people {
    width: 220px;
    float:left;
}
.mayday_par_btn {
    background: red;
    color: white;
    text-shadow:none;
    float: left;
    padding: 4px 0 0 0;
    margin: 5px 0 5px 20px;
    height: 27px;
    width: 60px;
}
.personnel_par_btn {
    float: left;
    margin: 10px 5px !important;
}
.psi_par_btn {
    float: left;
    margin-top: 7px !important;
}
.par_dialog_unit {
    margin-top: 4px;
    border-top:1px solid #666;
}
.par_dialog_unit_leftcol {
    float: left;
}
.par_dialog_unit_rightcol {
    float:left;
}

#mayday_dialog {
    width: 900px;
    background: white;
}
#mayday_dialog_body {
    padding: 0;
}
#mayday_scroll_div {
    min-height:370px;
    overflow:scroll;
}
.mayday_list li {
    margin: 0;
    cursor: default;
    padding-top: 2px;
}
#new_mayday_btn_icon {
    float:left;
}
#new_mayday_btn_text {
    float:left;
}
.mayday_toggle {
    display: inline-block;
    float: left;
    padding: 0;
    height: 20px;
    width: 120px;
    font-size: 0.9rem;
    margin: 4px;
}
.mayday_select {
	text-align: center;
	background: #CCC;
	color: #666;
	border: none;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
    width: 250px;
    display:block;
    margin:10px 4px 5px 4px;
}
#mayday_table_main td {
    vertical-align: top;
}
#mayday_left_td {
    padding:0;
    width:285px;
    background: #EEE;
}
#mayday_units_div {
    width:100%;
    margin: 4px 4px 10px 4px;
    min-height:1px;
}
.mayday_name_label {
    padding-top:3px;
    float:left;
}
.mayday_psi_btn {
    margin-top:1px;
    float:left;
}
.mayday_box_title {
    font-size:1.1rem;
    color: #666;
    margin-bottom:5px;
    text-align:center;
    float:left;
}
.mayday_clear_btn {
    height: 24px;
    padding: 2px;
    margin-right: 6px;
    float:right;
}
#new_mayday_btn {
    width:116px;
    margin:4px;
}
#new_mayday_btn_icon {
    height: 12px;
    width: 12px;
    margin:4px;
}
.mayday_info_div {
    padding: 5px;
    border: 1px solid #666;
    margin: 4px 4;
    width:272px;
}
#mayday_right_td {
    width: 613px;
    height: 100%;
}
.mayday_tab_div {
    height:100%;
    width: 100%;
    padding: 10px;
}
#mayday_right_tab_div {
    width:100%;
    background: #EEE;
}
.mayday_right_tab_text {
    float:left;
    margin: 3px 8px 0 0;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.select_on {
    border:3px #4863A0 solid;
}
.select_off {
    border:3px transparent solid;
}
.list_level_2 {
    margin-left: 15px !important;
}
.red_font {
    color: red;
}
.list_med_font_size {
    font-size: 0.85rem;
    font-weight: 500;
}
.sm_font {
    font-size: 0.8rem;
    font-weight: 300;
}
.underlined {
    border-bottom: 1px #666 dashed;
}
#mayday_td_left {
    width:270px;
}
.mayday_name_input {
    width: 175px;
    margin: 0 4px;
    border-left: #EEE 2px solid;
    border-top: #EEE 2px solid;
    border-right: #EEE 2px solid;
    color: black;
    float:left;
}
.mayday_unit_btn {
    float:left;
    margin:4px;
}
#mayday_list_grablives li {
    padding: 0px;
}
#mayday_list_grablives {
    background: #CCFFCC;
}
.first_char_red::first-letter {
    color: red;
}
.yellow_bg {
    background: #E7E5B0;
}
.tan_bg {
    background: #E7C9B0;
}
.green_bg {
    background: #B0E7B0;
}
.gray_bg {
    background: #D6D6D6;
}
.blue_bg {
    background: #BDDFFC;
}
.red_bg {
    background: #F27272;
}
.mayday_list_title {
    font-weight:bold;
}

.objective_btn {
    width: 165px;
    margin: 5px 10px 5px 10px;
}
#objectives_header_btn {
    margin-top: 10px;
    height: 45px;
}
#objective_right_col {
    float:right;
    width: 150px;
}
#objective_left_col {
    float:left;
}
#objectives_btn_perccomplete {
    font-size:0.6rem;
}

#osr_header_btn {
    height: 45px;
}
#osr_btn_perccomplete {
    font-size:0.6rem;
}
.osr_btn {
    width: 165px;
    margin: 5px 10px 5px 10px;
}
#osr_right_col {
    float:left;
    /*padding-top: 15px;*/
}
#osr_left_col {
    float:left;
}
#osr_occupancy_right_col_label {
    margin-top: 10px;
    margin-right: 5px;
    float:left;
}
#osr_floors {
    float:left;
}
.osr_toggle_container_div {
    margin: 10px 0 15px 0;
    height: 25px;
}
.osr_toggle_btn  {
    width: 100px;
    float:left;
    margin:0 5px;
}
#osr_occupancy_floors_div {
    margin: 10px 0 15px 0;
    height: 25px;
}
#osr_address_btn {
    width: 220px;
    margin:5px 0 15px 0;
}

#emergency_traffic_dialog {
    width: 475px;
}
.emergency_traffic_item_btn {
    margin: 5px 0 5px 10px;
    width: 450px;
}

.osr_select {
	text-align: center;
	background: #CCC;
	color: #666;
	border: none;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
    width: 220px;
    display:block;
    margin-bottom:15px;
}

#unit_people_dialog {
    width:400px;
}
.unit_people_dialog_btn {
    float:left;
    margin:4px !important;
}

.delete_icon {
    width: 12px;
    height: 12px;
    margin-left: 7px;
}
.delete_icon:hover {
    cursor: pointer !important;
}
#delete_unit_btn {
    width: 108px;
    float:left;
    margin: 10px;
}
.move_icon {
    width: 14px;
    height: 14px;
    margin-left: 7px;
}
.move_icon:hover {
    cursor: pointer !important;
}
#move_unit_btn {
    width: 108px;
    float:left;
    margin: 10px;
}
#unit_people_dialog_row3_center_div {
    width: 130px;
    display: block;
    margin: 10px auto;
}

.reset_clock_btn {
    float:right;
    width:120px;
    height:20px;
    height:22px;
    margin:4px 10px;
    padding: 0 4px;
}

#units_assigned_dialog {
    width:350px;
}

#delete_unit_confirm_dialog {
    width: 360px;
}
#delete_unit_confirm_dialog_text {
    padding:8px;
    font-size:1.1rem;
    color: #666;
}
#delete_unit_confirm_dialog_btns {
    width: 200px;
    margin: 0 auto;
}
.confirm_btn {
    float:left;
    margin: 10px 20px;
}

#test_div {
    width: 200px;
    height: 20px;
    border: 2px solid black;
    background: black;
}
#test_bar {
    width:196px;
    height:100%;
    background:LightGreen;
}

#key_dialog {
    width: 175px;
}
#key_dialog > .dialog_body {
    padding: 10px;
}
.key_btn {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px;
    font-size: 1.3rem;
    padding:5px;
}
#key_output_value {
    font-size:1.5rem;
    color:#666;
    height: 40px;
    background: #DDD;
    padding: 0 10px;
    text-align:right;
}
#key_input {
    width: 75px;
    margin: 5px auto;
}
#key_ok_btn {
    background: lightgreen;
}
/*#key_ok_btn:hover {*/
    /*background: forestgreen;*/
/*}*/
/*#key_ok_btn:active {*/
    /*background: darkgreen;*/
/*}*/
#key_del_btn {
    font-size:0.9rem;
    padding-top: 10px;
    background: lightpink;
}

ul {
  list-style-type: none;
}

.gridster .gs-w {
    /*cursor: pointer;*/
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

#address_dialog {
    width: 450px;
}
#address_dialog>*>input {
    margin: 5px;
}
#address_custom_input {
    width: 400px;
}

.mayday_top_row_edge {
    width: 200px;
}

#nda_reminder_dialog {
    width:300px;
}
#nda_reminder_dialog>.dialog_body {
    padding:10px;
}

#version_text {
    position:fixed;
    bottom: 10px;
    left: 10px;
}