
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.blink_unit_timer {
    -webkit-animation-name: blinker_unit_timer;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker_unit_timer;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker_unit_timer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker_unit_timer {
    0% { background: black; border: 1px solid red; box-shadow: none;}
    20% { background: white; border: 1px solid white; box-shadow: 0px 0px 10px 5px red;}
    100% { background: black; border: 1px solid red;box-shadow: none;}
}
@-webkit-keyframes blinker_unit_timer {
    0% { background: black; border: 1px solid red; box-shadow: none;}
    20% { background: white; border: 1px solid white; box-shadow: 0px 0px 10px 5px red;}
    100% { background: black; border: 1px solid red;box-shadow: none;}
}
@keyframes blinker_unit_timer {
    0% { background: black; border: 1px solid red; box-shadow: none;}
    20% { background: white; border: 1px solid white; box-shadow: 0px 0px 10px 5px red;}
    100% { background: black; border: 1px solid red;box-shadow: none;}
}

.has_mayday {
    -webkit-animation-name: has_mayday;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: has_mayday;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: has_mayday;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes has_mayday {
    0%      { background: white;    border: 1px solid red;     box-shadow: none;}
    20%     { background: red;      border: 1px solid white;   box-shadow: 0px 0px 10px 5px red;}
    100%    { background: white;    border: 1px solid red;     box-shadow: none;}
}
@-webkit-keyframes has_mayday {
    0%      { background: white;    border: 1px solid red;     box-shadow: none;}
    20%     { background: red;      border: 1px solid white;   box-shadow: 0px 0px 10px 5px red;}
    100%    { background: white;    border: 1px solid red;     box-shadow: none;}
}
@keyframes has_mayday {
    0%      { background: white;    border: 1px solid red;     box-shadow: none;}
    20%     { background: red;      border: 1px solid white;   box-shadow: 0px 0px 10px 5px red;}
    100%    { background: white;    border: 1px solid red;     box-shadow: none;}
}



.wiggle {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes  {
    from {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    to {-webkit-transform: rotateZ(2deg);}
}
.productBox {
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}
