/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
*/

/*
 **** MAIN STYLES ****
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

body.splashpage {
    background: #9ad1ff;
    color: black;
    text-align: center;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

td {
    vertical-align: middle;
}

#splash_table {
    text-align: center;
    vertical-align: middle;
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
}
#splash_row1 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#splash_title_logo_img {
    float: left;
}
#splash_inc_info_container {
    padding-top: 50px;
    float: left;
}
#splash_title {
    font-family: sans-serif;
    font-size: 2.0rem;
}
.splash_start_btn {
    height: 50px;
    width: 200px;
    margin: 10px;
    font-size: 2.0rem;
    padding-top: 10px !important;
}

#header_spacer_td {
	width: 100px;
}
#footer_spacer_td {
    height: 20px;
}
#ict_header {
    background: #BBB;
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
    z-index: 50;
    padding: 4px;
}

#title_icon {
    width: 90px;
    height: 90px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#title_icon:hover {
    /*cursor: pointer;*/
}

.footer {
    color: white;
    background: #BBB;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 20px;
}
#inc_num {
    padding:3px;
}
#address {
    padding: 3px 10px 3px 10px;
}

/*
 **** BUTTONS ****
 */
.button {
	text-align: center;
	background: #CCC;
	color: #666;
	border: none;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
}
.button:hover {
	background-color: #EEE;
    color: #999;
}
.button:active {
	background-color: #BBB;
}

.button_no_hover {
	text-align: center;
	background: #CCC;
	color: #666;
	border: none;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
}
.button_no_hover:hover {
    cursor:pointer !important;
}

.disabled, .disabled:hover, .disabled:active {
    background: #DDD !important;
    color: #AAA;
    cursor: default;
}

.btn-ict {
	background: #DDD;
	color: #666;
	text-shadow: 1px 1px #AAA;
	box-shadow: 1px 1px 2px #888;
	height: 22px;
}

.sm_round_btn {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	padding: 0;
}

.glow_orange {
    background: #FFAD2C;
}
.glow_orange:hover {
    background: #FFAD2C;
}
.glow_blue {
    background: #2A5071;
    color: #DDD;
    box-shadow: 2px 2px 2px #172C3E;
}
.glow_blue:hover {
    background: #2A5071;
}
.has_par {
    background: lightgreen !important;
}
.has_par:hover {
    background: green !important;
}

.has_par:active {
    background: #555 !important;
}

/*
 **** HEADER ITEMS ****
 */
.header_item {
    margin-bottom: 8px;
	height: 25px;
}
#objectives_header_btn {
    margin-top: 20px;
}
#iap_btn {
    margin-top: 20px;
}
#time {
    text-align: center;
    font-family: 'Carrois Gothic SC';
    font-size: 1.45rem;
    color: white;
}
.time_lg {
    font-size: 2.3rem !important;
	height: 43px;
}
#safety_btn_label {
	color: #FFF;
	width: 100%;
	border-top: 1px solid #888;
}
.safety_btn {
	width: 90px;
	height: 25px;
    z-index: 100;
}
.side_dialog_container {
    position: absolute;
	z-index:-1;
}
.side_dialog_table tr {
	vertical-align: top;
}
.side_dialog {
    background: #666 ;
    z-index: 50;
	padding: 4px;
}
.side_dialog > div {
    margin:0 0 4px 0;
}
.side_dialog_arm {
    background: #666;
    height: 2rem;
    width: 100px;
    z-index: 45;
}
#safety_side_dialog {
    top: 157px;
}
#safety_side_dialog_arm {
    top: 157px;
}
#mode_btn {
    z-index: 100;
}
#mode_side_dialog {
    top: 197px;
}
#mode_side_dialog_arm {
    top: 197px;
}
.offensive_btn {
    background: green !important;
    color: white;
}
.defensive_btn {
    background: #FF2B21 !important;
    color: white;
}
#report_btn {
    z-index: 100;
	height: 45px;
}
.report_icon {
    width: 20px;
    height: 20px;
}
#cmd_term_btn {
    z-index: 100;
    font-size: 0.75rem;
	height: 53px;
}
#cmd_term_btn > div {
	height:12px;
}
.terminate_icon {
    width: 20px;
    height: 20px;
}

#header_row2 {
	display: table;
	height: -moz-calc(100% - 350px);
	height: -webkit-calc(100% - 350px);
	height: calc(100% - 350px);
	width: 92px;
}
#header_row3 {
	position: absolute;
	bottom: 10px;
	right: 2px;
	width: 94px;
	padding: 2px;
}


/*
 **** DIALOG ITEMS ****
 */
#dialogContainer {
    background: rgba(0,0,0,0.4);
    position:fixed;
    z-index: 200;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
	display: table;
}
.dialog_vertical_align_cell {
	display: table-cell;
	vertical-align: middle
}
.dialog_window {
    z-index: 999;
    background: #EEE;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #555;
}
.dialog_title {
    background: #AAA;
	padding: 2px 0;
	border: 1px solid #666;
}
.dialog_title_text {
	text-align: center;
	font-size: 1.1rem;
    color: white;
}
.dialog_close_btn {
    background: #F67574;
    height: 20px;
    flex-basis: 1.0rem;
    flex-shrink: 0;
    padding: 2px 1px 1px 1px;
    line-height: 1.0em;
    margin: 2px;
    color: white;
    border-radius: 15px;
    border: 1px solid #CCC;
    text-shadow: none;
	width: 20px;
	float: right;
}
.dialog_body {
	padding: 4px 0;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
}

#sector_dialog {
    width: 885px;
}
#dir_btns_container {
	padding: 4px 0;
	border-top: 1px solid #DDD;
}
#dir_btns_container > .button {
	margin: 0 4px;
}
#title_btns_container {
	padding: 4px 0;
}
#title_btns_container > .button {
	margin: 4px;
}

.clear_float {
	clear: both;
        width:0px;
}

#units_dialog {
    width: 855px;
}
#units_dialog_cities_div {
	display:block;
	padding-left:80px;
	border-bottom:1px solid #999;
}
#units_dialog_types_div {
	display:block;
	float:left;
	width:80px;
	height: 555px;
	border-right:1px solid #999;
}
.units_dialog_citybtns_div {
	display:block;
	width: 755px;
	height: 555px;
	float: right;
	overflow: scroll;
}
.unitTypeColumn {
    padding-bottom: 15px;
}

.unitCity_dialog_btn {
    width:70px;
    height: 20px;
    padding: 2;
	float: left;
	margin: 5px;
}
.unit_dialog_btn {
	float: left;
	margin: 5px;
}
.btn_largetext {
    font-size:0.7rem !important;
}
.btn_medtext {
    font-size:0.8rem !important;
}
.unitType_dialog_btn {
    width:70px;
    height: 20px;
    padding: 2px;
	margin: 5px;
}

#psi_dialog {
    width: 445px;
}
.psi_dialog_btn {
    width: 40px;
    height: 30px;
    float:left;
    margin: 4px;
}

#actions_dialog {
    width: 708px;
}
.actions_dialog_btn {
    margin: 5px !important;
}


#mayday_btn {
    background: red;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    font-size: 1.25rem;
}

#osr_dialog {
	width: 420px;
}
#objectives_dialog {
	width: 190px;
}

#iap_dialog {
    width: 600px;
}
#iap_table_main td {
    padding: 5px;
}
.iap_label_td {
    text-align: right;
}
.iap_red_label {
    font-size: 1.25rem;
    color: red;
}
.iap_blue_label {
    font-size: 1.25rem;
    color: blue;
}
.iap_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size:0.9rem;
    float: left;
}
.iap_toggle_btn {
    width: 100px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}
#iap_sprinkler_toggle_btn {
    width: 120px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}
#iap_btn_evacloc {
    width: 120px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}
#iap_evacloc_dialog {
    width: 300px;
}
#iap_evacloc_input_container {
    float: left;
}
#iap_evacloc_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size:0.9rem;
}

.chk_btn {
	float: left;
	margin: 5px !important;
}
.chk_label {
    font-size: 1.1rem;
}

#benchmarks_dialog {
    width: 350px;
}
.benchmark_col_container {
    float: left;
    width:50%;
}
.benchmark_1st_col_container {
    border-right: 1px solid #666;
}
.benchmark_item_btn {
    width: 150px;
    margin:0 0 0 10px;
}
.benchmark_btn_parent_div {
    padding: 5px 0 5px 0;
}

#par_dialog {
    width: 325px;
}
#par_dialog_sector_btn {
	width:168px;
	height: 24px;
    text-align: center;
    margin: 5px auto;
}
.par_dialog_unit {
    border: 1px solid #666 !important;
    margin: 5px;
}
.par_person_btn  {
    width: 100px;
    margin: 5px;
}
.par_unit_btn {
    background: #CCC;
    margin: 5px 15px;
    float:left;
}
.par_dialog_people {
    float:left;
}
.mayday_par_btn {
    background: red;
    color: white;
    float: left;
    padding: 4px 0 0 0;
    margin: 5px 0 5px 5px;
    height: 27px;
    width: 25px;
}
.personnel_par_btn {
    float: left;
    margin: 10px 5px !important;
}
.psi_par_btn {
    float: left;
    margin-top: 7px !important;
}
.par_dialog_unit_leftcol {
    margin-right: 15px;
    float: left;
}

#mayday_dialog {
    width: 900px;
    background: white;
}
#mayday_table_main li {
    list-style: disc;
}
#mayday_table_main td {
    vertical-align:top;
    padding: 5;
}
.mayday_list li {
    margin: 0;
    cursor: default;
    padding-top: 2px;
}
.mayday_toggle {
    display: inline-block;
    float: left;
    padding: 0;
    height: 20px;
    width: 120px;
    font-size: 0.9rem;
    margin: 4px;
}
ul {
 /*padding: 10px;*/
 margin: 15px;
}
.list_level_2 {
    margin-left: 15px !important;
}
.red_font {
    color: red;
}
.list_med_font_size {
    font-size: 0.85rem;
    font-weight: 500;
}
.sm_font {
    font-size: 0.8rem;
    font-weight: 300;
}
.underlined {
    border-bottom: 1px #666 dashed;
}
#mayday_name_input {
    width: 278px;
    margin-left: 4px;
    border-left: #EEE 2px solid;
    border-top: #EEE 2px solid;
    border-right: #EEE 2px solid;
    color: black;
}
#mayday_unit_btn {
    display: inline-block;
    margin-left: 10px;
    height: 25px;
    margin-bottom: 4px;
}
#mayday_sector_btn {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 4px;
    height: 25px;
    padding-top: 4px;
}
#mayday_list_grablives li {
    padding: 0px;
}
#mayday_list_grablives {
    background: #CCFFCC;
}
.first_char_red::first-letter {
    color: red;
}
.yellow_bg {
    background: #E7E5B0;
}
.tan_bg {
    background: #E7C9B0;
}
.green_bg {
    background: #B0E7B0;
}
.gray_bg {
    background: #D6D6D6;
}
.blue_bg {
    background: #BDDFFC;
}
.red_bg {
    background: #F27272;
}
.mayday_list_title {
    font-weight:bold;
}

.objective_btn {
    width: 165px;
    margin: 5px 10px 5px 10px;
}
#objective_right_col {
    float:right;
    width: 150px;
}
#objective_left_col {
    float:left;
}

.osr_btn {
    width: 165px;
    margin: 5px 10px 5px 10px;
}
#osr_right_col {
    float:left;
    padding-top: 15px;
}
#osr_left_col {
    float:left;
}
#osr_occupancy_right_col_label {
    margin-top: 10px;
    margin-right: 5px;
    float:left;
}
#osr_floors {
    float:left;
}
.osr_toggle_container_div {
    margin: 10px 0 15px 0;
    height: 25px;
}
.osr_toggle_btn  {
    width: 100px;
    float:left;
    margin:0 5px;
}
#osr_occupancy_floors_div {
    margin: 10px 0 15px 0;
    height: 25px;
}

#emergency_traffic_dialog {
    width: 475px;
}
.emergency_traffic_item_btn {
    margin: 5px 0 5px 10px;
    width: 450px;
}

.osr_select {
	text-align: center;
	background: #CCC;
	color: #666;
	border: none;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
    width: 220px;
    display:block;
    margin-bottom:15px;
}

#unit_people_dialog {
    width:400px;
}
.unit_people_dialog_btn {
    float:left;
    margin:4px !important;
}

.delete_icon {
    width: 12px;
    height: 12px;
    margin-left: 7px;
}
.delete_icon:hover {
    cursor: pointer !important;
}
#delete_unit_btn {
    width: 108px;
    float:left;
    margin: 10px;
}
.move_icon {
    width: 14px;
    height: 14px;
    margin-left: 7px;
}
.move_icon:hover {
    cursor: pointer !important;
}
#move_unit_btn {
    width: 108px;
    float:left;
    margin: 10px;
}
#unit_people_dialog_row3_center_div {
    width: 270px;
    display: block;
    margin: 10px auto;
}

.reset_clock_btn {
    float:right;
    width:120px;
    height:20px;
    height:22px;
    margin:4px 10px;
    padding: 0 4px;
}

#units_assigned_dialog {
    width:350px;
}
