/*
 **** T-BAR BOXES ****
 */
#tbar_container {
	padding: 0 0 0 5px;
}
#rehab_tbar_container {
    width:280px;
    height: 855px;
    float:right;
    margin: 0 15px 0 0;
    padding: 0;
}

.tbar {
	background: #FFF;
	border:1px solid #999;
	margin: 5px 0 5px 10px;
	padding: 0;
	border-radius: 3px;
}
.tbar_full_size {
    width: 270px;
	height: 275px;
}
.tbar_small_size {
    width: 270px;
	height: 275px;
}

.tbar_title_container {
	background: #BBB;
	height: 29px;
}

.title_btn {
	width:168px;
	height: 24px;
	padding: 0 0 0 2px;
	font-size: 1.0rem;
	float:left;
	margin:2px;
}
.title_btn_comp {
    float:left;
	padding: 0;
	height: 20px;
}
.title_dir {
    width:15px;
}
.title_num {
    width:15px;
}
.tbar_title_dir_td {
    width:17px;
}
.tbar_title_num_td_1char {
    width:17px;
}
.tbar_title_num_td_2char {
    width:25px;
}
.tbar_title_num_td_3char {
    width:30px;
}
.tbar_title_num_td_4char {
    width:35px;
}
.tbar_title_td {
    width: 134px;
}
.tbar_title_td div {
    width: 100%;
    text-align:center;
}

.clock_icon {
    width: 10px;
    height: 10px;
    margin: 0 7px;
}
.clock_icon:hover {
    cursor: pointer !important;
}
.fixed_title_spacer {
	width: 40px;
}

.btn-mayday {
	margin: 0 auto;
	font-size: 1.1rem;
	padding: 2px 4px;
	border: 2px solid orange;
}

.tbar_body_table {
	height: 242px;
}
.tbar_body_table tr {
	vertical-align: top;
}
/*.tbar_body_table td {
	padding: 4px;
}*/
.tbar_units_td {
	width: 145px;
	vertical-align: top;
}
.tbar_line_td {
	width:1px;
	background: #999;
	padding: 0 !important;
}
.tbar_actions_td {
	width: 138px;
	vertical-align: top;
}

.units_container {
	padding-right: 1px solid #999;
}

.unit_btn {
	width: 57px;
	height: 27px;
	border-radius: 10px;
	font-size: 1.0rem;
	padding: 4px 0 0 0;
}
.acct_unit_btn {
	background: yellow;
	border: 2px #AAC7D1 solid;
	padding: 0;
	margin: 2px 5px;
}
.blank_btn {
	background: #AAC7D1;
	border-bottom: 2px dotted #888 !important;
	border-radius: 10px;
}
.unit_btn_no_psi {
    margin-left: 40px;
}
.unit_btn_dragging {
    border: 4px lightblue solid;
    width: 65px;
    height: 35px;
}

.single_unit_div {
	z-index: 99;
	margin-bottom: 5px;
}
.glowlightyellow {
	background: #FFFF99;
}
.glowred {
	background: red;
	color: white;
}
.glowred:hover {
	background: darkred;
	color: white;
}
.glowred:active {
	background: #666;
	color: white;
}
.glowpink {
	background: pink;
	color: #666;
}
.glowpink:hover {
	background: red;
	color: white;
}
.glowpink:hover {
	background: red;
	color: white;
}
.glowpink:active {
	background: #666;
	color: white;
}
.glowlightblue {
    background: DeepSkyBlue;
}
.glowlightgreen {
    background: LightGreen;
}
.glowlightgreen:hover {
    background: DarkGreen;
    color: white;
}
.glowgreen {
    background: green;
    color: white;
}
.glowgreen:hover {
    background: DarkGreen;
    color: white;
}
.glowgreen:active {
    background: #666;
    color: white;
}

.psi_red {
	background: red;
	color: #FFF !important;
}
.psi_yellow {background: yellow;}
.psi_green {background: #3dff00;}
.psi_btn {
	width:  25px;
	color: #666;
	font-weight: normal;
	font-size: 0.6rem;
	text-shadow: none;
	margin: 3px 0;
	padding: 4px 0;
}
.hidden_div {
	/*
	 *Use opacity rather than show/hide
	 *so the button maintains its space
	*/
	opacity: 0.0;
}
.hidden_div:hover {
	cursor: default !important;
	opacity: 0.0;
}
.unit_side_container {
    border:transparent 2px solid;
}
.unit_side_container td {
    padding: 0;
    float:left;
}
.unit_side_container_left_side:hover {
    background:#9ad1ff;
    cursor: pointer;
}
.unit_side_container_left_side:active {
    background:#6BACE3;
    cursor: pointer;
}
.unit_side_container_left_side td {
    padding:1px;
}
.unit_side_container_left_side td > * :hover {
    background:red !important;
}
.tbar_unit_btn {
    margin: 2px 0 0 3px;
	float: left;
}

.actions_column {
	display: flex;
    flex-flow: column nowrap;
}
.actions_parent_container {
	background: #FFFF99;
	display: flex;
    flex-flow: column;	
}
.action_list {
	display: flex;
    flex-flow: column nowrap;
	align-content: center;
}
.action_list_unit_name_title {
	text-align: center;
	color: #666;
	text-shadow: 1px 1px 1px #AAA;
}

.actions {
	background: #FFF;
	padding: 4px;
    display: flex;
    flex-flow: column;
}
.action_btn {
	width: 130px;
	height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 1px 0 1px 0;
	box-shadow: none;
	font-size: 80%;
	padding-top: 6px;
	padding-bottom: 2px;
}

.action_btn {
	width: 130px;
	height: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 1px 0 1px 0;
	box-shadow: none;
	font-size: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.hidden_sector_btn, .hidden_sector_btn:hover, .hidden_sector_btn:active {
    height: 24px;
    opacity:0;
    cursor: default;
}

.unit_timer_div {
    height:100%;
    float:right;
    padding: 8px 1px 8px 2px;
    border-radius:2px;
}

.personnel_btn {
    width: 20px;
    height: 20px;
    padding: 2px 0;
    margin: 0 4px 0 0;
    border-radius: 15px;
    font-size: 0.8rem;
}

/*.show_actions_btn {
    width: 16px;
    height: 16px;
    border-radius:10px;
    padding: 1px 0 0 1px;
    margin: 9px 0 0 5px;
    border: 1px #666 solid;
}*/
img.show_actions_btn {
    width: 8px;
    height: 13px;
    margin: 9px 0 0 8px;
}
img.show_actions_btn:hover {
    cursor: pointer;
}
img.show_actions_btn:active {
    cursor: pointer;
}

.par_btn {
    width:28px;
    font-size: 0.6rem;
    float:left;
    margin: 2px;
}

.benchmarks_icon {
    width: 14px;
    height: 15px;
    margin-right: 4px;
}
.benchmark_btn {
    width: 60px;
    font-size: 0.7rem;
    float:left;
    margin:2px;
}