/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
*/

/*
 **** MAIN STYLES ****
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

body.splashpage {
    background: #9ad1ff;
    color: black;
    text-align: center;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

:focus {
    /*Get rid of annoying blue outline when you click on anything*/
    outline: none !important;
}

td {
    vertical-align: middle;
}

#splash_outer_outer_div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: table;
}

#splash_outer_inner_div {
    display: table-cell;
    vertical-align: middle
}

#splash_row1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#splash_row2 {
    width: 410px;
    margin: 0 auto;
}

#splash_row3 {
    width: 800px;
    margin: 0 auto;
}

#splash_row4 {
    width: 800px;
    margin: 0 auto;
}

#splash_title_logo_img {
    float: left;
}

#splash_inc_info_container {
    padding-top: 50px;
    float: left;
}

#splash_title {
    font-family: sans-serif;
    font-size: 2.0rem;
}

.splash_start_btn {
    height: 70px;
    width: 180px;
    margin: 10px;
    font-size: 2.0rem;
    padding-top: 5px !important;
    float: left;
}

.splash_start_btn_icon {
    width: 40px;
    height: 40px;
}

.splash_start_btn_text {
    margin-left: 10px;
    font-size: 1.4rem;
}
#prev_inc_btn {

}
#prev_inc_icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px;
}

#header_spacer_td {
    width: 100px;
}

#footer_spacer_td {
    height: 20px;
}

#ict_header {
    background: black;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 50;
    padding: 4px;
}
#ict_header > .button {
    background: white;
}

#title_icon {
    width: 29px;
    height: 29px;
    border: 1px solid #AAA;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 150;
}

.footer {
    color: white;
    background: #BBB;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 20px;
}

#address {
    padding: 3px 10px 3px 10px;
}

/*
 **** BUTTONS ****
 */
.button {
    text-align: center;
    background: white;
    color: black;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
}

.button:hover {
    background-color: #EEE;
    color: #999;
}

.button:active {
    background-color: #BBB;
}

.button_top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    margin: 0 10px;

    width: 130px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
    font-size: 1.45rem;
    padding: 10 10px;
    text-align: center;
    pointer-events: auto;
}

.button_no_hover {
    text-align: center;
    background: #CCC;
    color: #666;
    border: none;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    text-shadow: 1px 1px #AAA;
    cursor: pointer !important;
    box-shadow: 1px 1px 2px #888;
}

.disabled, .disabled:hover, .disabled:active {
    background: #999 !important;
    color: #EEE;
    cursor: default;
    opacity: 0.5;
}

.hidden_div {
    /*
     *Use opacity rather than show/hide
     *so the button maintains its space
    */
    opacity: 0.0;
}

.hidden_div:hover {
    cursor: default !important;
    opacity: 0.0;
}

.btn-ict {
    background: #DDD;
    color: #666;
    text-shadow: 1px 1px #AAA;
    box-shadow: 1px 1px 2px #888;
    height: 22px;
}

.sm_round_btn {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 0;
}

.glow_orange {
    background: #FFAD2C;
}

.glow_orange:hover {
    background: #FFAD2C;
}

.glow_blue {
    background: #2A5071;
    color: #DDD;
    box-shadow: 2px 2px 2px #172C3E;
}

.glow_blue:hover {
    background: #2A5071;
}

.glowlightyellow {
    /*background: #FFFF99;*/
    background: #FFFF88;
}

.glowlightyellow.unit_row_div {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

/*.unit_row_div.glowlightyellow>.unit_btn{
    margin-right:2px;
}*/

.font_red {
    color: red !important;
}

.font_blue {
    color: blue !important;
}

.glowred {
    background: red !important;
    color: white;
}

.glowred:hover {
    background: darkred !important;
    color: white;
}

.glowred:active {
    background: #666 !important;
    color: white;
}

.glowpink {
    background: pink !important;
    color: #666;
}

.glowpink:hover {
    background: red !important;
    color: white;
}

.glowpink:hover {
    background: red !important;
    color: white;
}

.glowpink:active {
    background: #666;
    color: white;
}

.glowlightblue {
    background: DeepSkyBlue;
}

.glowlightgreen {
    background: LightGreen !important;
}

.glowlightgreen:hover {
    background: DarkGreen;
    color: white;
}

.glowgreen {
    background: green;
    color: white;
}

.glowgreen:hover {
    background: DarkGreen;
    color: white;
}

.glowgreen:active {
    background: #666;
    color: white;
}

.glowbabyblue {
    background: #99e5ff;
}

.glowbabyblue:hover {
    background: #77ddff;
}

.glowbabyblue:active {
    background: #66aaff;
}

.has_par {
    background: lightgreen !important;
}

.has_par:hover {
    background: green !important;
}

.has_par:active {
    background: #555 !important;
}

/*
 **** HEADER ITEMS ****
 */
.header_item {
    margin-bottom: 4px;
    height: 25px;
    width: 90px;
}

#time {
    text-align: center;
    font-family: 'Carrois Gothic SC';
    font-size: 1.45rem;
    color: white;
}

.time_lg {
    font-size: 2.3rem !important;
    height: 43px;
}

#safety_btn_label {
    color: #FFF;
    width: 100%;
    border-top: 1px solid #888;
}

.safety_btn {
    width: 90px;
    height: 25px;
    z-index: 100;
}

.side_dialog_table tr {
    vertical-align: top;
}

.side_dialog {
    background: #666;
    z-index: 50;
    padding: 4px;
}

.side_dialog > div {
    margin: 0 0 4px 0;
}

.side_dialog_arm {
    background: #666;
    height: 2rem;
    width: 100px;
    z-index: 45;
}

#safety_side_dialog {
    top: 157px;
}

#safety_side_dialog_arm {
    top: 157px;
}

#streetname_btn {
    float: left;
    margin-left: 10px;
    pointer-events: auto;
    background: #a56c15 !important;
    color: white;
    font-size: 1.2rem;
}

#streetname_btn:hover {
    background: #E89A1B !important;
}

#streetname_btn:active {
    background: #69430f !important;
}

#inc_info_box {
    float: left;
    margin-left: 10px;
    background: white;
}
#inc_num {
    font-size: 1.05rem;
}
#inc_address {
    font-size: 1.05rem;
}

#mode_btn {
    float: right;
    margin-right: 10px;
    pointer-events: auto;
    background: #a56c15;
    color: white;
    font-size: 1.2rem;
}
.offensive_btn {
    background: green !important;
    color: white;
}
.defensive_btn {
    background: #FF2B21 !important;
    color: white;
}
#mode_dialog {
    width: 250px;
}
#mode_dlg_off {
    margin: 10px;
}
#mode_dlg_def {
    margin: 10px;
}
.outer_glow {
    box-shadow: 0px 0px 20px darkred;
    border:2px solid yellow;
}

#report_btn {
    z-index: 100;
    height: 45px;
    position: fixed;
    bottom: 10px;
}

#sectorreport_btn {
    z-index: 100;
    height: 45px;
}

.report_icon {
    width: 20px;
    height: 20px;
}

#dispatched_units_btn {
    z-index: 100;
    height: 46px;
    margin: 13px 0 5px 0;
}

#upgrade_btn {
    height: 46px;
}

#cmdxfer_units_btn {
    z-index: 100;
    height: 46px;
    margin: 50px 0 5px 0;
}

#cmd_term_btn {
    z-index: 100;
    font-size: 0.75rem;
    height: 53px;
    position: fixed;
    bottom: 60px;
}

#cmd_term_btn > div {
    height: 12px;
}

.terminate_icon {
    width: 20px;
    height: 20px;
}

/*#header_row2 {*/
/*display: table;*/
/*height: -moz-calc(100% -350px);*/
/*height: -webkit-calc(100% -350px);*/
/*height: calc(100% -350px);*/
/*width: 92px;*/
/*}*/

/*#header_row3 {*/
/*position: absolute;*/
/*bottom: 10px;*/
/*right: 2px;*/
/*width: 94px;*/
/*padding: 2px;*/
/*}*/

/*
 **** DIALOG ITEMS ****
 */
#dialogContainer {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 200;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: table;
}

.dialog_vertical_align_cell {
    display: table-cell;
    vertical-align: middle
}

.dialog_window {
    z-index: 999;
    background: #EEE;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #555;
}

.dialog_title {
    background: #AAA;
    padding: 2px 0;
    border: 1px solid #666;
}

.dialog_title_text {
    text-align: center;
    font-size: 1.1rem;
    color: white;
    float: left;
    width: 100%
}

.dialog_close_btn {
    background: #F67574;
    height: 20px;
    padding: 3px 2px;
    line-height: 1.0em;
    margin: 2px;
    color: white;
    border-radius: 15px;
    border: 1px solid #CCC;
    text-shadow: none;
    width: 40px;
    float: right;
    font-size: 0.8rem;
}

.dialog_body {
    padding: 0;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
}

#sector_dialog {
    width: 890px;
}

#dir_btns_container {
    padding: 4px 0;
    border-top: 1px solid #DDD;
}

#dir_btns_container > .button {
    margin: 0 8px;
}

#title_btns_container {
    padding: 4px 0;
}

#title_btns_container > .button {
    margin: 4px;
}

.clear_float {
    clear: both;
    width: 0px;
}

#units_dialog {
    width: 927px;
}

#dispatched_units_div {
    width: 916px;
    min-height: 60px;
    margin: 2px;
    border: 3px double #666;
}

#title_dispatched_units_div {
    color: #999;
    margin: 1px;
    width: 200px;
    float: left;
}

.dispatched_unit_btn {
    margin: 4px 4px 6px 4px;
    float: left;
}

.delete_dispatched_unit_btn {
    position: relative;
    left: -5px;
    top: -35px;
    background: lightcoral;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    border: 1px #999 solid;
    color: white;
}

#dispatched_delete_start_btn {
    float: right;
    margin-right: 3px;
    margin-top: 1px;
    padding: 0;
}

.delete_dispatched_unit_btn:hover {
    background: #ffc4be;
}

.delete_dispatched_unit_btn:active {
    background: #87282a;
}

#units_dialog_cities_div {
    display: block;
    padding-left: 170px;
    border-bottom: 1px solid #999;
}

#units_dialog_types_div {
    display: block;
    float: left;
    width: 165px;
    height: 450px;
    border-right: 1px solid #999;
}

.units_dialog_citybtns_div {
    display: block;
    width: 755px;
    height: 450px;
    float: right;
    overflow: scroll;
}

.unitTypeColumn {
    padding-bottom: 15px;
}

.unitCity_dialog_btn {
    width: 70px;
    height: 20px;
    padding: 0;
    float: left;
    margin: 5px;
}

.unit_dialog_btn {
    float: left;
    margin: 5px;
}

.btn_largetext {
    font-size: 0.7rem !important;
}

.btn_medtext {
    font-size: 0.8rem !important;
}

.unitType_dialog_btn {
    width: 70px;
    height: 25px;
    padding: 2;
    margin: 8px 8px 0 4px;
    float: left;
}

#psi_dialog {
    width: 445px;
}

.psi_dialog_btn {
    width: 40px;
    height: 30px;
    float: left;
    margin: 4px;
}

#actions_dialog {
    width: 708px;
}

.action_dialog_btn {
    margin: 5px !important;
}

.action_type_dialog_header {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    margin-top: 8px;
    border-top: 1px solid #DDD;
}

#top_header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding-right: 100px;
    pointer-events: none;
}

#top_header_mayday_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 50;
    padding-right: 100px;
    pointer-events: none;
}

#mayday_btn {
    margin-left: auto;
    background: red;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
}

#mayday_btn:hover {
    background: #FF9696;
}

#mayday_btn:active {
    background: #C20000;
}

#mayday_clear_dialog {
    width: 350px;
}

.mayday_clear_item_btn {
    margin: 5px 0 5px 10px;
    width: 325px;
}

.mayday_sector_title {
    font-size: 1.1rem;
    /*height: 25px;*/
}

#mayday_scroll_div {
    overflow: scroll;
    height: 100%;
}

#osr_dialog {
    width: 455px;
}

#objectives_dialog {
    width: 190px;
}

#iap_dialog {
    width: 612px;
}

#iap_table_main td {
    padding: 5px;
}

.iap_label_td {
    text-align: right;
}

.iap_red_label {
    font-size: 1.25rem;
    color: red;
}

.iap_blue_label {
    font-size: 1.25rem;
    color: blue;
}

.iap_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size: 0.9rem;
    float: left;
}

.iap_toggle_btn {
    width: 100px;
    float: left;
    font-size: 0.8rem;
    margin: 2px;
}

#iap_vent_toggle_btn {
    width: 120px;
    font-size: 0.8rem;
    margin: 2px;
}

#iap_sprinkler_toggle_btn {
    width: 120px;
    font-size: 0.8rem;
    margin: 2px;
}

#iap_btn_evacloc {
    width: 120px;
    font-size: 0.8rem;
    margin: 2px;
}

#iap_evacloc_dialog {
    width: 300px;
}

#iap_evacloc_input_container {
    float: left;
}

#iap_evacloc_input {
    border: #999 2px solid;
    color: black;
    width: 300px;
    height: 60px;
    font-size: 0.9rem;
}

.chk_btn {
    float: left;
    margin: 5px !important;
}

.chk_label {
    font-size: 1.1rem;
}

#benchmarks_dialog {
    width: 515px;
}

.benchmark_col_container {
    float: left;
}

.benchmark_2nd_col_container {
    background: #FFFF88;
    height: 162px;
}

.benchmark_double_btn {
    margin-bottom: 10px !important;
    height: 71px;
    font-size: 1.1rem;
    padding-top: 10px;
}

.benchmark_item_btn {
    width: 150px;
    margin: 0 10px;
}

.benchmark_item_btn_2 {
    width: 150px;
    margin: 10 10px;
}


.benchmark_btn_parent_div {
    padding: 5px 0 5px 0;
}

.benchmark_item_btn_hidden {
    opacity: 0;
}

.benchmark_item_btn_secondary {
    margin: 5px 10px;
}

#par_dialog {
    width: 355px;
}

#par_dialog_sector_btn {
    width: 168px;
    height: 24px;
    text-align: center;
    margin: 5px auto;
}

.par_person_btn {
    width: 100px;
    margin: 5px;
    float: left;
}

.par_unit_btn {
    background: #CCC;
    margin: 5px;
    float: left;
}

.par_dialog_people {
    width: 220px;
    float: left;
}

.mayday_par_btn {
    background: red;
    color: white;
    text-shadow: none;
    float: left;
    padding: 4px 0 0 0;
    margin: 5px 0 5px 20px;
    height: 27px;
    width: 60px;
}

.personnel_par_btn {
    float: left;
    margin: 10px 5px !important;
}

.psi_par_btn {
    float: left;
    margin-top: 7px !important;
}

.par_dialog_unit {
    margin-top: 4px;
    border-top: 1px solid #666;
}

.par_dialog_unit_leftcol {
    float: left;
}

.par_dialog_unit_rightcol {
    float: left;
}

#mayday_dialog {
    width: 100%;
    height: 100%;
    background: #EEE;
}

#mayday_dialog_body {
    padding: 0;
    background: #EEE;
}

#mayday_scroll_div {
    min-height: 370px;
    overflow: scroll;
}

.mayday_list li {
    margin: 0;
    cursor: default;
    padding-top: 2px;
}

#new_mayday_btn_icon {
    float: left;
}

#new_mayday_btn_text {
    float: left;
}

.mayday_toggle {
    display: inline-block;
    float: left;
    padding: 0;
    height: 20px;
    width: 120px;
    font-size: 0.9rem;
    margin: 4px;
}

.mayday_select {
    text-align: center;
    background: #CCC;
    color: #666;
    border: none;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
    width: 250px;
    display: block;
    margin: 10px 4px 5px 4px;
}
#mayday_table_main {
    height:95%;
}
#mayday_table_main td {
    vertical-align: top;
}

#mayday_left_td {
    padding: 0;
    width: 285px !important;
    background: #EEE;
}

#mayday_units_div {
    width: 100%;
    margin: 4px 4px 10px 4px;
    min-height: 1px;
}

.mayday_name_label {
    padding-top: 3px;
    float: left;
}

.mayday_psi_btn {
    margin-top: 1px;
    float: left;
}

.mayday_box_title {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 5px;
    text-align: center;
    float: left;
}

.mayday_clear_btn {
    height: 24px;
    padding: 2px;
    margin-right: 6px;
    float: right;
}

#new_mayday_btn {
    width: 272px;
    margin: 4px;
}
.mayday_timer {
    font-size: 1.1rem;
    color: #666;
    float: left;
    margin-left: 35px;
}
#new_mayday_btn_icon {
    height: 12px;
    width: 12px;
    margin: 4px;
}

.mayday_info_div {
    padding: 5px;
    border: 1px solid #666;
    margin: 4px 4;
    width: 272px;
}

#mayday_right_td {
    width: 100%;
    height: 100%;
}

.mayday_tab_div {
    height: 100%;
    width: 100%;
    padding: 10px;
}

#mayday_right_tab_div {
    width: 100%;
    background: #EEE;
}

.mayday_right_tab_text {
    float: left;
    margin: 3px 8px 0 0;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.select_on {
    border: 3px #4863A0 solid;
}

.select_off {
    border: 3px transparent solid;
}

.list_level_2 {
    margin-left: 15px !important;
}

.red_font {
    color: red;
}

.list_med_font_size {
    font-size: 0.85rem;
    font-weight: 500;
}

.sm_font {
    font-size: 0.8rem;
    font-weight: 300;
}

.underlined {
    border-bottom: 1px #666 dashed;
}

#mayday_td_left {
    width: 270px;
}

.mayday_name_input {
    width: 175px;
    margin: 0 4px;
    border-left: #EEE 2px solid;
    border-top: #EEE 2px solid;
    border-right: #EEE 2px solid;
    color: black;
    float: left;
}

.mayday_unit_btn {
    float: left;
    margin: 4px;
}

#mayday_list_grablives li {
    padding: 0px;
}

#mayday_list_grablives {
    background: #CCFFCC;
}

.first_char_red::first-letter {
    color: red;
}

.yellow_bg {
    background: #E7E5B0;
}

.tan_bg {
    background: #E7C9B0;
}

.green_bg {
    background: #B0E7B0;
}

.gray_bg {
    background: #D6D6D6;
}

.blue_bg {
    background: #BDDFFC;
}

.red_bg {
    background: #F27272;
}

.mayday_list_title {
    font-weight: bold;
}

.objective_btn {
    width: 165px;
    margin: 5px 10px 5px 10px;
}

#objective_right_col {
    float: right;
    width: 150px;
}

#objective_left_col {
    float: left;
}

#objectives_btn_perccomplete {
    font-size: 0.6rem;
}

#osr_btn_perccomplete {
    font-size: 0.6rem;
}

.osr_btn {
    width: 205px;
    margin: 5px 10px 5px 10px;
}

#osr_right_col {
    float: left;
    /*padding-top: 15px;*/
}

#osr_left_col {
    float: left;
}

#osr_occupancy_right_col_label {
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

#osr_floors {
    float: left;
}

.osr_toggle_container_div {
    margin: 10px 0 15px 0;
    height: 25px;
}

.osr_toggle_btn {
    width: 100px;
    float: left;
    margin: 0 5px;
}

#osr_subfloor_btn {
    width: 215px;
}

#osr_occupancy_floors_div {
    margin: 10px 0 15px 0;
    height: 25px;
}

#osr_address_btn {
    width: 220px;
    margin: 5px 0 15px 0;
}

#unit_osr_btn {
    width: 220px;
    margin: 5px 0 15px 0;
}

#emergency_traffic_dialog {
    width: 475px;
}

.emergency_traffic_item_btn {
    margin: 5px 0 5px 10px;
    width: 450px;
}

.osr_select {
    text-align: center;
    background: #CCC;
    color: #666;
    border: none;
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    text-shadow: 1px 1px #AAA;
    cursor: pointer;
    box-shadow: 1px 1px 2px #888;
    width: 220px;
    display: block;
    margin-bottom: 15px;
}

#unit_people_dialog {
    width: 400px;
}

.unit_people_dialog_btn {
    float: left;
    margin: 4px !important;
}

.delete_icon {
    width: 12px;
    height: 12px;
    margin-left: 7px;
}

.delete_icon:hover {
    cursor: pointer !important;
}

#delete_unit_btn {
    width: 108px;
    float: left;
    margin: 10px;
}

.move_icon {
    width: 14px;
    height: 14px;
    margin-left: 7px;
}

.move_icon:hover {
    cursor: pointer !important;
}

#move_unit_btn {
    width: 108px;
    float: left;
    margin: 10px;
}

#unit_people_dialog_row3_center_div {
    width: 130px;
    display: block;
    margin: 10px auto;
}

.reset_clock_btn {
    float: right;
    width: 120px;
    height: 20px;
    height: 22px;
    margin: 4px 10px;
    padding: 0 4px;
}

#units_assigned_dialog {
    width: 350px;
}

#delete_unit_confirm_dialog {
    width: 360px;
}

#delete_unit_confirm_dialog_text {
    padding: 8px;
    font-size: 1.1rem;
    color: #666;
}

#delete_unit_confirm_dialog_btns {
    width: 200px;
    margin: 0 auto;
}

.confirm_btn {
    float: left;
    margin: 10px 20px;
}

#test_div {
    width: 200px;
    height: 20px;
    border: 2px solid black;
    background: black;
}

#test_bar {
    width: 196px;
    height: 100%;
    background: LightGreen;
}

#key_dialog {
    width: 234px;
}

#key_dialog > .dialog_body {
    padding: 10px;
}

.key_btn {
    width: 60px;
    height: 60px;
    float: left;
    margin: 5px;
    font-size: 1.7rem;
    padding: 7px;
}

#key_output_value {
    font-size: 1.5rem;
    color: #666;
    height: 40px;
    background: #DDD;
    padding: 0 10px;
    text-align: center;
}

#key_input {
    width: 75px;
    margin: 5px auto;
}

#key_ok_btn {
    background: lightgreen;
}

/*#key_ok_btn:hover {*/
/*background: forestgreen;*/
/*}*/
/*#key_ok_btn:active {*/
/*background: darkgreen;*/
/*}*/
#key_del_btn {
    font-size: 0.9rem;
    padding-top: 10px;
    background: lightpink;
}

ul {
    list-style-type: none;
}

.gridster .gs-w {
    /*cursor: pointer;*/
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none !important;
    background: red !important;
}

#streetname_dialog {
    width: 450px;
}

#streetname_dialog>*>input {
    margin: 5px;
}

#streetname_custom_input {
    margin-top: 5px;
    width: 380px;
}

#streetname_dlg_clear {
    float: right;
    margin: 5px;
}

#address_dialog {
    width: 450px;
}

#address_dialog>*>input {
    margin: 5px;
}

#address_custom_input {
    margin-top: 5px;
    width: 380px;
}

.mayday_top_row_edge {
    width: 200px;
}

#nda_reminder_dialog {
    width: 300px;
}

#nda_reminder_dialog>.dialog_body {
    padding: 10px;
}

#version_text {
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 150;
}
#copyright_text {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 150;
}

.top_header_btn {
    float: left;
}

.top_header_btn_icon {
    width: 25px;
    height: 25px;
}

#upgrade_dialog {
    width: 485px;
}

.upgrade_btn {
    width: 150px;
    margin: 5px;
}

#upgrade_right_col {
    float: right;
}

#upgrade_left_col {
    float: left;
}

#upgrade_middle_col {
    float: left;
}

.gridster > * {
    /*margin-right: 120px !important;*/
}

#mayday_and_tbar_container {
    padding-top: 50px;
    margin-bottom: 50px;
    padding-right: 90px;
}

#address_dlg_clear {
    float: right;
    margin: 5px;
}

.selected_benchmark {
    background: #FFFF88;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}

#cmd_trm_dialog {
    width: 450px;
}

.yes_no_btn {
    width: 100px;
    margin: 4px;
    float: left;
}

#time_report_dialog {
    width: 800px;
}

.report_dialog_body {
    height: 500px;
    overflow: scroll;
    background: white;
}

.report_toggle_btn {
    float: left;
    margin: 10px;
}

#print_report_btn {
    float: right;
    margin: 10px;
    width: 78px
}

#print_report_icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

#cmdxfer_dialog {
    width: 350px;
}

#cmdxfer_dialog > .dialog_body {
    padding-left: 5px;
}

.unit_cmdxfer_btn {
    float: left;
    margin: 10px;
}

#cmdxfer_text {
    float: left;
    font-size: 1.05rem;
    margin-top: 10px;
}

#sub_sector_btn {
    width: 33px;
    height: 21px;
    float: left;
    padding-top: 2px;
    border-radius: 10px;
}

#dispatch_address_btn_btn {
    float: left;
    margin-left: 5px;
}

#osr_direction {
    width: 205px;
    margin-left: 10px;
}

#resume_dialog {
    width: 400px;
}

#resume_dialog > .dialog_body {
    text-align: center;
}

#resume_cmd_btn {
    width: 100px;
    height: 45px;
    margin: 10px 0px 10px 30px;
    float: left;
}

#new_incident_cmd_btn {
    width: 100px;
    height: 45px;
    margin: 10px 0px 10px 20px;
    float: left;
}

#cmd_term_label {
    font-size: 1.5rem;
    margin: 10px;
}

#report_btn_2 {
    z-index: 100;
    height: 45px;
    width: 100px;
    float: left;
    margin: 10px 0px 10px 20px;
}

#yes_cmd_term_btn {
    margin-left: 95px;
}

#no_cmd_term_btn {
    margin-left: 50px;
}

.report_div_header_span {
    font-size: 1.05rem;
    font-weight: bold;
}

.report_div_header_value_span {
    font-size: 1.05rem;
}

.perc_bar_bg {
    border: 1px solid black;
    background: black;
    width: 3px;
    height: 15px;
    float: left;
}
.perc_bar_fg {
    background: lightgreen;
    width: 1px;
    height: 13px;
}

.perc_horz_bar_bg {
    background: black;
    border: 1px solid black;
    height: 3px;
    width: 80px;
}
.perc_horz_bar {
    background: lightgreen;
    height: 1px;
    width: 78px;
}
#osr_header_btn {
    height: 30px;
    margin-top: 50px;
}
#objectives_header_btn {
    height: 30px;
}

/*#osr_perc_bar {*/
    /*float:left;*/
    /*width: 3px;*/
    /*height: 16px;*/
/*}*/
/*#objectives_perc_bar {*/
    /*float:left;*/
    /*width: 3px;*/
    /*height: 16px;*/
/*}*/

#prev_inc_btn {
    margin-top:20px;
}
#prev_inc_no_inc_info {
    margin-top:10px;
}

#inc_type_icon {
    width: 52px;
    height: 51px;
    float:left;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    border-left: 1px solid darkgray;
    box-shadow: 0 0 15px lightblue;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.benchmark_triage_input {
    width: 50px;
    margin: 10px;
}

.vert_spacer {
    height:15px;
}

.mayday_select_half {
    float:left;
    width:120px;
}

.mayday_check {
    width: 15px;
    height: 15px;
    margin: 5px !important;
}